<h1>
    <%= title %>
</h1>

<%- messages() %>
    <% if (errors) { %>
        <ul class="notice">
            <% errors.array().forEach(error=> { %>
                <li>
                    <%= error.msg %>
                </li>
                <% }) %>
        </ul>
        <% } %>
<div class="container">
    <p>All fields are required.</p>
    <form action="/account/register" method="post">
        <div class="form-group">
            <label for="firstname">First Name:</label>
            <input type="text" id="firstname" name="account_firstname" required value="<%= locals.account_firstname %>">
        </div>
        <div class="form-group">
            <label for="lastname">Last Name:</label>
            <input type="text" id="lastname" name="account_lastname" required value="<%= locals.account_lastname %>">
        </div>
        <div class="form-group">
            <label for="email">Email Address:</label>
            <input type="email" id="email" name="account_email" required value="<%= locals.account_email %>"
            placeholder=""Enter a valid email address>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" name="account_password" id="pword" required
            pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">
            <button id="pswdBtn">Show Password</button>
        </div>
        <p><i>*Password must be a minimum of 12 characters and include 1 capital letter, 1 number and 1 special character</i></p>
        <div class="form-group">
            <input type="submit" value="Register">
        </div>
    </form>
</div>

<script>
    const pswdBtn = document.querySelector("#pswdBtn");
pswdBtn.addEventListener("click", function() {
  const pswdInput = document.getElementById("pword");
  const type = pswdInput.getAttribute("type");
  if (type == "password") {
    pswdInput.setAttribute("type", "text");
    pswdBtn.innerHTML = "Hide Password";
  } else {
    pswdInput.setAttribute("type", "password");
    pswdBtn.innerHTML = "Show Password";
  }
});
</script>